/* * {
    border: 1px solid red;
  } */
.body{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.904);    
    overflow: auto;
}

.heading{
    text-align: center;
    color: rgb(238, 232, 223);
    font-size: xx-large;
    margin-top: 10px;
    
}
.mainBox{
    height: auto;
    min-height: 600px;
    border: 1px solid rgba(20, 176, 238, 0.452);
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0.589);
}

.item{
    min-width: 100px;
    background-color: rgba(20, 176, 238, 0.452);;
    height: auto;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: blanchedalmond;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;

}
.item:hover{
    background-color: rgba(20, 176, 238, 0.719);
    cursor: grab;
}