/* * {
    border: 1px solid red;
  } */
.body{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.904);
    overflow: auto;
}

.heading{
    text-align: center;
    color: rgb(238, 232, 223);
    font-size: xx-large;
    margin-top: 10px;

}
.mainBox{
    height: auto;
    min-height: 600px;
    border: 1px solid rgba(20, 176, 238, 0.452);
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0.589);
}

.item{
    min-width: 100px;
    background-color: rgba(20, 176, 238, 0.452);;
    height: auto;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: blanchedalmond;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;

}
.item:hover{
    background-color: rgba(20, 176, 238, 0.719);
    cursor: grab;
}

a{
    text-decoration: none;
}



input[type=file]{
  /* background-color: #4CAF50; */
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}


input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.fileBox{
  margin-top: 15px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.buttonBox{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonBoxDel{
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  margin-right: 10px;
  cursor: pointer;
  float: right;
}

.buttonBoxDownload{
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  margin-right: 10px;
  cursor: pointer;
  float: right;
}

.imageStyle{
  height: 500px;
  width: 700px;
}
.contentBox{
  width:100%;
  height:auto;
  margin-top: 20px;
}

.contentBox .imgBox{
  width:50%;
  height:auto;
  float: left;
}

.contentBox .descBox{
  width:49%;
  height:500px;
  float: left;
  color:white;
  overflow-x: hidden;
  overflow-y: auto;
}

.tagSpan{
  width:300px;
  color: white;
  float: left;
  text-align: left;
}

.valueSpan{
  width:auto;
  color: white;
  float: left;
}
.divSep{
  float: left;
  margin-right: 20px;
}
.divRow{
  width: 100%;
  height:auto;
  margin-bottom: 5px;
  float: left;
}
.loaderContainer{
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: .8;
  position: absolute;
  padding-top: 20%;
}

.dataContainer{
  height: 100%;
  width:100%;
}
